/* This file is for all of the css on the create_table.html page */

/* CSS for the main section */

main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section_left {
  background-color: #ecf85C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_right {
  background-color: #ecf85C;
}


/* CSS for the form section */

.form_section {
  background-color: #50C3CD;
}

.form_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main_input_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.column_names {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.data_column {
  margin-left: 10px;
}