/* This file will hold all of the generic css that will be used throughout the site */

.center {
  text-align: center;
}

.button_div {
  margin-top: 10px;
}

.anchor_fix {
  color: #333;
}

.anchor_fix:hover {
  color: #50C3CD;
  text-decoration: none;
}

/* CSS for the footer section */

footer {
  border-top: 3px solid #333;
  background-color: #50C3CD;
  height: 100px; 
}

.footer_div {
  padding-top: 50px;
  text-align: center;
}