/* This file will hold all of the generic css that will be used throughout the site */

.button_div {
  margin-top: 10px;
}

.anchor_fix {
  color: #333;
}

.anchor_fix:hover {
  color: #50C3CD;
  text-decoration: none;
}