/* This file will have the CSS for the home.html file */



/* Code for the main section */
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "one";
}

.aside_one {
  grid-area: one;
  background-color: #ecf85C;
}

.section_one {
  grid-area: two;
  background-color: #50C3CD;
}

.aside_two {
  grid-area: three;
  background-color: #ecf85C;
}