/* The CSS in this file is for the see_table.html page */

#add_form_section {
  border-bottom: 2px solid black;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

#add_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for the table */
#table_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}