{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_table.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">

<form method="POST">
  <div class="input_fields_wrap">
      <button class="add_field_button">Add More Fields</button>
      <p>Column Name:</p>

      <div class='main_input_div'>

        <div>
          <input type="text" name="mytext[]">
        </div>
        <p>Data Type:</p>
        <div>
          <select name="data_type">
            <option value='int'>Integer</option>
          </select>
        </div>
        
      </div>

  </div>
  <button>Sign Up</button>
</form>


<script src='{{ url_for('static', filename='js/home.js') }}'></script>
<script src='{{ url_for('static', filename='js/createTable.js') }}'></script>
{% endblock %}