{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_table.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">

<main>

  <section class='section_left'>
    <h2 class='center'>How This Works:</h2>
    <ol>
      <li>Enter in a title for the Table.</li>
      <li>Enter in a name, like age, for the columns-you can have 6</li>
      <li>Select the datatype: 
        <br>Columns holding numeric data would be an integer 
        <br>Columns holding words would be a string</li>
      <li>Click Submit</li>
    </ol>
  </section>

  <section class='form_section'> 

    <form method="POST">

      <div class="input_fields_wrap">

        <div class='buttons'>
          <button class="add_field_button">Add More Fields</button>
          <button>Submit</button>
        </div>

        <br>

        <div class='center'>
          <input placeholder='Table Name' name='table_name'>
        </div>

          <div class='column_names'>
            <p>Column Name:</p>
            <p class='data_column'>Data Type:</p>
          </div>

          <div class='main_input_div'>

            <div>
              <input placeholder='Enter Column Name' type="text" name="mytext[]">
            </div>
            
            <div>
              <select name="data_type">
                <option value=' ' selected>Nothing</option>
                <option value='int'>Integer</option>
                <option value='varchar(30)'>String</option>
              </select>
            </div>
            <a href="#" class="remove_field">Remove</a>
          </div> 
      </div>
      
    </form>

  </section>


</main>


<script src='{{ url_for('static', filename='js/home.js') }}'></script>
<script src='{{ url_for('static', filename='js/createTable.js') }}'></script>
{% endblock %}