{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">

<!-- Start of main area -->
<main role='main'>

<!-- Start of header area -->
<header>
  <h1 class='center'>Edit / Delete Page</h1>
</header>
<!-- End of main area -->

<section>

  <form method='POST'>
    {% for r, number in main_list %}
      <input placeholder='{{ r }}' name='{{ number }}'>
    {% endfor %}
    <button>Submit</button>
  </form>
</section>


</main>
<!-- End of main area -->


{% endblock %}