{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">


  <!-- Start of main section -->
  <main>

    <aside class='aside_one'>

      <div>
      </div>

      <div>
        <h3><a class='anchor_fix' href="/create_table">Create Table</a></h3>
      </div>

      <div>
        <img src="static/img/bee_mod.png">
      </div>
      
    </aside>

    <section class='section_one'>

    </section>

    <aside class='aside_two'>
      <h3>Tables</h3>


      {% for table in tables_list %}
      <div class='table_row'>
          <i class="fas fa-search"></i>&nbsp;&nbsp;
            <a href="">{{ table }}</a>&nbsp;&nbsp;
          <i class="fas fa-pencil-alt"></i>
      </div>
      {% endfor %}

    </aside>

  </main>
  <!-- End of footer section -->

<script src='{{ url_for('static', filename='js/home.js') }}'></script>
{% endblock %}