{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css') }}">

<main role='main'>

  <div>
    <h1>Welcome To</h1>
    <h1 class='center'>myDB</h1>
    <div class='link_div'>
      <p class='center'><a href="/login">Login</a></p>
      <p class='center'><a href="/signup">Sign Up</a></p>
    </div>
  </div>

</main>




{% endblock %}