{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">


  <!-- Start of main section -->
  <main>

    <img id='honeybee' src="static/img/bee_mod.png">

    <section>

      <h1 class='center font home_title'>Welcome to myDBee</h1>
        <!-- Error messaging -->
        {% for message in get_flashed_messages() %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
        <!-- End Error messaging -->
      <form method="POST">
        
        <h2 class='font center' required>Login</h2>

        <div>
          <!-- <label class='font'>Username:</label> --><input placeholder='Username' type='text' name='username'>
        </div>
        <br>
        <div>
          <!-- <label class='font'>Password:</label> --><input placeholder='Password' type='password' name='password'>
        </div>
        <br>
        <div class='button_div'>
          <button>Enter</button>
          <a href="{{url_for('signup')}}">Sign Up</a>
        </div>

      </form>

    </section>

  </main>
  <!-- End of main section -->

<script src='{{ url_for('static', filename='js/home.js') }}'></script>
{% endblock %}


