{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/see_table.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">


<main role='main'>

  <section id='add_form_section'>

    <h2 class='center'>Add to Table</h2>
    <form method='POST' id='add_form'>
      {% for key, value in names.items() %}
        <input placeholder={{ key}} name={{value}} required>
      {% endfor %}
      <button>Add Data</button>
    </form>

  </section>

  <section id='table_section'>

    <h2 class='center'>The Table</h2>

    <table>
      <tr>
        {% for name in names_list %}
          <th>{{ name }}</th>
        {% endfor %}
      </tr>
    </table>

  </section>

</main>



{% endblock %}
