{% extends 'base.html' %}


{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
  
  <!-- Start of main section -->
  <main>

    <img id='honeybee' src="static/img/bee_mod.png">

    <section>

      <h1 class='center font home_title'>Join myDBee</h1>

      <form method='POST'>

          <!-- Error messaging -->
          {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
          <!-- End Error messaging -->
        
        <h2 class='font center'>Sign Up</h2>

        <div>
          <input placeholder='First Name' name='firstname' required>
        </div>
        <br>
        <div>
          <input placeholder='Last Name' name='lastname' required>
        </div>
        <br>
        <div>
          <input placeholder='Email' name='email' required>
        </div>
        <br>
        <div>
          <input placeholder='Username' name='username' required>
        </div>
        <br>
        <div>
          <input placeholder='Password' name='password1' type='password' required>
        </div>
        <br>
        <div>
          <input placeholder='Confirm Password' name='password2' type='password' required>
        </div>

        <br>

        <div>
          <button>Sign Up</button>
        </div>

      </form>

    </section>

  </main>
  <!-- End of main section -->


<script src='{{ url_for('static', filename='js/home.js') }}'></script>
{% endblock %}